.houseCard {
    flex: 1 1;
    min-width: 350px;
    /*max-width: 750px;*/
    border-radius: 10px;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    user-select: none;
    overflow: hidden;
    margin: 10px;
}

.houseCard:hover {
    transform: scale(.95);
}

.houseCard__img{
    height: calc(100% - 100px);
}

.houseCard__info {
    height: 90px;
    cursor: pointer;
    margin: 10px 15px;
}

.houseCard__info > h2 {
    font-size: 18px;
    font-weight: 600;
}


.houseCard__guest__info > h4{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}

.houseCard__guest__info > h4 >  span{
    margin-right: 10px;
}

.houseCard__price {
    clear: both;
}

.houseCard__price > h3{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 3px;
}

.houseCard__price > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 11px;
}


@media screen and (max-width: 480px) {
    .houseCard {
        max-width: 100%;
    }
    .houseCard:hover {
        transform: scale(.95);
    }
}
