
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    box-shadow: 0 6px 11px -9px rgba(0, 0, 0, 0.25);
    height: 50px
}

.header-child{
    flex: 1 1 33%;
    border: 1px solid black;
}

.header__icon {
    object-fit: contain;
    width: 175px;
    height: auto;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: -5px;
}

.weatherRight {
    margin-right: 30px

}

.search-container{
    justify-content: center;
    align-content: center;
    text-align: left;
    height: 30px;
    max-width: 300px;
    margin: auto;
}
.search{
    font-size: 12px;
    border-radius: 15px;
    padding: 0 15px;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow-ellipsis: ellipsis;
    margin: 0 15px;
    border: 1px solid #DDDDDD !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%) !important;
}

@media screen and (max-width: 480px) {

}